@charset "UTF-8";

a{
text-decoration: none; /* 링크의 밑줄 제거 */
color: inherit; /* 링크의 색상 제거 */
}

.division-line{
	  border-top:1px solid black;
	  margin:30px auto;
	  width: auto;
}

.product {
	width: 90%;
	margin:auto;
	border:none;

}	

table,tr,td,th{
	border-collapse:separate;
	border:none;
	border-spacing: 0 100px;

}



img {
	margin:auto;
	display:block;
	
};